/*
screen - #c5c1c0
steel - #0a1612
denim - #1a2930
marigold - #f7ce3e
*/

* {
    //border: 1px red solid;       
}

html, body {
    height: 100%;
}


.header__nav {
    margin: 1rem 0;
}

.header__nav-list {
    margin: 0;
}

.header__nav-icons {
    display: inline-block;
    list-style-type: none;  
}

.row {
    height: 100%;
    border: 1px blue solid;
}

.left__title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #c5c1c0;
    font-family: Halant, serif;
    font-size: 8rem;
    
}

.left__headshot {
    text-align: center;
    transform: rotate(-13deg);
    width: 16rem;
    margin: auto;
}

.left__headshot-img {
    height: 17rem;
}

.left__intro-text {
    text-align: center;
    margin: 4rem 2rem;
    color: #c5c1c0;
    font-size: 4rem;
    font-family: Halant, serif;
}

.about {
    margin-top: 6.4rem;
}

.about__title {
    font-family: Abel, sans-serif;
    font-size: 3rem;
    color: #1a2930;
}

.about__text {
    font-family: Abel, sans-serif;
    font-size: 2rem;
    color: #1a2930;
}

.portfolio__title {
    font-family: Abel, sans-serif;
    font-size: 3rem;
    color: #1a2930;
}

.panel {
    background-color: #c5c1c0;
    border: 1px solid #c5c1c0;
}

.panel-body {
    font-family: Abel, sans-serif;
    font-size: 1.5rem;
    color: #1a2930;
    
}


.panel-default > .panel-heading {
    background-color: #1a2930;
}

.panel-default > .panel-heading:hover {
    background-color: #f7ce3e;
}

.panel-title a {
    text-decoration: none;
    font-family: Abel, sans-serif;
    font-size: 2rem;
    color: #c5c1c0; 
}

.panel-title:hover {
    color: #0a1612;
}

.panel-title a:hover {
    text-decoration: none;
    font-family: Abel, sans-serif;
    font-size: 2rem;
    color: #0a1612; 
}

/*
.container-fluid {
    margin-left: -20px;
    margin-right: -20px;
    
}

.row {
    height: 100%;
    background-color: red;
}

.left {
    background-color: #1a2930;
    //margin-left: -20px;

    position: fixed;
    left: 0;
    top: 0;

    min-height: 100%;
    float: left;
}

.left__nav {
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    color: white;
}

.left__title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #c5c1c0;
}

.left__headshot {
    text-align: center;
    transform: rotate(-13deg);
    width: 16rem;
    margin: auto;
}

.left__headshot-img {
    height: 15rem;
}

.left__intro-text {
    text-align: center;
    margin: 4rem 2rem;
    color: #c5c1c0;
    font-size: 4rem;
}

.mail {
    text-align: center;
    margin: 2rem 0;
    color: white;
}

.mail__button {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #c5c1c0;
}

.mail__button:hover {
    background-color: #f7ce3e;
    border: 1px solid #f7ce3e;
}

.mail__button-link {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

.mail__button-link:hover {
    text-decoration: none;
}

.right {
    background-color: #c5c1c0;
    //margin-right: -20px;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    height: 100%;
    float: right;
}

.right__title {
    color: #1a2930;
}
*/







.col-md-6 {
    height: 100%
}

.container-fluid {
    height: 100%;
}

.col-md-6 {
    
}

.left {
    background-color: #1a2930;
}

.right {
    background-color: #c5c1c0;
}
