/*
Stone wash - #d0d3c5;
cerulean - #56b1bf;
Teal - #08708a;
Tomato - #d73a31;
Hunter - #032b2f;
*/

* {
    //border: 1px red solid;       
}

html, body {
    height: 100%;
}

.top {
    height: 100%;
    background-color: #d0d3c5;
    background-image: url(../images/laptop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.header__nav {
    margin: 1rem 0;
    position: fixed;
    z-index: 100;
}

.header__nav-list {
    margin: 0;
    color: #032b2f;
}

.header__nav-icons {
    display: inline-block;
    list-style-type: none;
}

.fa-linkedin-square, .fa-facebook-square, .fa-twitter-square {
    padding-left: 0.5rem;
}

.header__nav-icons > a {
    color: #d73a31;
}

.header__nav-icons > a:hover {
    color: #032b2f;
    cursor: pointer;
}

.top__welcome {
    text-align: center; 
    color: #032b2f;
}

.top__welcome-text {
    margin-top: 20rem;
    font-family: Halant, serif;
    font-size: 5rem;
}

.top__button {
    text-align: center;
}

.btn-lg {
    font-family: Abel, sans-serif;
    font-size: 2rem;
    background-color: #032b2f;
    color: #d0d3c5;
    border: 1px solid #032b2f;
}

.btn-lg:hover {
    background-color: #08708a;
    color: #d0d3c5;
    border: 1px solid #08708a;
}

.top__credit {
    position: fixed;
    bottom: 20px;
    left: 45px;
    font-size: 1.5rem;
    font-family: Abel, sans-serif;
}

.top__credit a {
    color: #d73a31;
    text-decoration: none;
}


/*Hide unsplash link everywhere except top. Or put in footer? Make the .content area scroll and leave the .intro alone.*/

.main, .main__container, .intro, .content {
    height: 100%;
}



.intro, .content {
    background-color: #d0d3c5;
}

.intro__title {
    padding-top: 4rem;
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
    color: #032b2f;
    font-family: Halant, serif;
    font-size: 8rem;    
}

.intro__headshot {
    text-align: center;
    transform: rotate(-13deg);
    width: 16rem;
    margin: auto;
}

.intro__headshot-img {
    height: 17rem;
}

.intro__text {
    text-align: center;
    margin: 4rem 2rem;
    color: #032b2f;
    font-size: 4rem;
    font-family: Halant, serif;
}

.content {
    overflow-y: scroll;
}

.about {
    padding-top: 4rem;
}

.about__title {
    font-family: Abel, sans-serif;
    font-size: 3rem;
    color: #032b2f;
}

.about__text {
    font-family: Abel, sans-serif;
    font-size: 2rem;
    color: #032b2f;
}

.about__text-link {
    color: #d73a31;
}

.about__text-link:hover {
    text-decoration: none;
    color: #08708a;
}

.about__text-link:visited {
    text-decoration: none;
    color: #08708a;
}

.portfolio__title {
    font-family: Abel, sans-serif;
    font-size: 3rem;
    color: #032b2f;
}

.panel {
    background-color: #d0d3c5;
    border: 1px solid #d0d3c5;
}

.panel-body {
    font-family: Abel, sans-serif;
    font-size: 1.5rem;
    color: #1a2930;
    
}

.panel-default > .panel-heading {
    background-color: #56b1bf;
}

.panel-default > .panel-heading:hover {
    background-color: #08708a;
}

.panel-title a {
    text-decoration: none;
    font-family: Abel, sans-serif;
    font-size: 2rem;
    color: #032b2f;
}

.panel-title:hover {
    color: #0a1612;
}

.panel-title a:hover {
    text-decoration: none;
    font-family: Abel, sans-serif;
    font-size: 2rem;
    color: #032b2f;
}





